/* @tailwind base; /*agrega los estilos base (normalize/reset)./
@tailwind components; */ /*agrega las clases preconstruidas (botones, contenedores, etc. si las hay).*/
@tailwind utilities; /*agrega todas las clases utilitarias (bg-blue-500, flex, p-4, etc)*/
@import "tailwindcss";

/*:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}*/

.colorDegradado{
  
}

/*cuando las clases son demasiado largas se peude crear una clase que englobe el resto, eta funciona creando una clase ej, 
.btn {
  @apply bg-700- red ...etc
}
  Es necesario usar @apply par aque lea o reconzca tailwind*/